body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

input[type="text"] {
    width: calc(100% - 80px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.Agregar {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.Agregar:hover {
    background-color: #45a049;
}

.Mostrar {
    padding: 10px 20px;
    background-color: #564caf;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.Mostrar:hover {
    background-color: #453c94;
}

.task-list {
    margin-top: 20px;
}

.task-list li {
    list-style-type: none;
    margin-bottom: 5px;
}

.task-list li del {
    color: #999;
}

.task-list li input[type="checkbox"] {
    margin-right: 10px;
}
